# Ignore generated star maps
*.png
output/
__pycache__/
*.pyc

# Ignore backup and log files
*.log
*.swp

# Ignore Raspberry Pi specific runtime files
/tmp/*
.fbi*

# Ignore packages and environment files (if using virtualenv or pipenv)
.env/
.venv/
venv/
